div(class="nopadding")
	.col-md-2.nopadding.searchBar
		.col-md-6.col-md-offset-3.mode
			.col-md-6.nopadding(style="text-align:center")
				span(ng-click="showMap()")
					span(title="Map",data-toggle="tooltip",data-placement="bottom",tooltip).modeIcon <i class="fa fa-area-chart"></i>
			.col-md-6.nopadding(style="text-align:center;border-left:1px solid grey")
				span(ng-click="showList()")
					span(title="Liste",data-toggle="tooltip",data-placement="bottom",tooltip).modeIcon <i class="fa fa-list"></i>
		<br><br><br>
		h5 Recherche
		.col-md-2.nopadding.transparentIcon
			<i class="fa fa-search"></i>
		.col-md-10.nopadding
			input(class='form-control transparent', ng-model='search', placeholder='search...')
		<br><br><br><br>

		h5 Location
		.col-md-12.nopadding
			form(class='form', ng-submit='locationUpdate()')
				.col-md-2.nopadding.transparentIcon
					<i class="fa fa-search"></i>
				.col-md-10.nopadding
					input(class='form-control transparent', ng-model='form.address', placeholder='lieu...')
				<br>
				{{ erreurGeo }}
		<br><br><br><br>

		h5 Catégorie
		.col-md-12.nopadding
			select(ng-model="type")
				option(value="") Tout
				option(value="On demand") A la demande
				option(value="On the run") Prêt à manger
				option(value="Groceries") Potager
		<br><br><br><br><br><br><br>
	.col-md-10.gallerie(style="text-align:center")
		{{error}}
	.col-md-10.gallerie.nopadding(style="display:{{listMode}}")
		div(class="col-md-3 gallerieItem nopadding",ng-repeat="item in catalogue | filter:search | filter : type",ng-animate="'animate'",style="background-color : #2E2E2E; opacity : 0.73;")
			.hover
				a(href="item/{{ item._id }}") 
					<i class="fa fa-shopping-cart"></i> Acheter <br><br>
				a(href="user/{{ item.user }}")
					<i class="fa fa-user"></i> Profil
			.gallerieThumbnail
				.helper
				img(src="upload/{{ item.user }}/{{item.name}}.jpg")
			.gallerieText
					.gallerieTextNom(style="background-color : {{ item.type | colorItem }}") {{item.name}}
					.gallerieTextPrix(style="background-color : {{ item.type | colorItem }}") {{item.prix}} &euro;
	
	.col-md-10.gallerie(style="display:{{mapMode}}")
		//- ui-gmap-google-map(center='map.center',zoom='map.zoom')
		//- markers(models="places",coords="'last_known_location'")
		div(id="map")
			div(id="class",ng-repeat="marker in markers | orderBy : 'title'")
				a(href="#",ng-click="openInfoWindow($event, marker)") {{marker.title}}




