.col-md-12.nopadding.headerProfile
	.col-md-8.profileCover
		.col-md-3.col-md-offset-1
			img(src="upload/{{ user.username }}/profilePic.jpg",class="img-circle imgProfil")

		.col-md-8.profilePres
			h3 Profil de {{ user.username }}
			div
				reverse-geocode(lat="{{userInfo.lat}}",lng="{{userInfo.lng}}")
				button(ng-click="geolocation()") <i class="fa fa-paper-plane"></i> Me géolocaliser

	.col-md-4.nopadding.menuDivContainer
		.col-md-4.menuDiv
			a(href="/profileCatalogue")
				i.fa.fa-book
				p Catalogue
		.col-md-4.menuDiv
			a(href="/profileEdit")
				i.fa.fa-user.fa-3
				p Mon profil
		.col-md-4.menuDiv
			a(href="/favorites")
				i.fa.fa-star.fa-3
				p Favoris
		.col-md-4.menuDiv
			a(href='/message')
				i.fa.fa-weixin.fa-3
				p Messages
		.col-md-4.menuDiv
			a(href='')
				i.fa.fa-cog.fa-3
				p Options
		.col-md-4.menuDiv
			a(href='')
				i.fa.fa-question.fa-3
				p Aide

.col-md-12.col-md-offset-1
	<br><br>
	h3 <i class="fa fa-star"></i> Favoris
	<br><br>


.col-md-1

.col-md-10.gallerie.nopadding(style="float:left;")
	div(class="col-md-3 gallerieItem nopadding",ng-repeat="item in userInfo.favorites | filter:search | filter : type",ng-animate='animate',style="background-color : #2E2E2E; opacity : 0.73;")
		.hover
			a(href="item/{{ item._id }}") 
				<i class="fa fa-shopping-cart"></i> Acheter <br><br>
			a(href="user/{{ item.username }}")
				<i class="fa fa-user"></i> Profil
		.gallerieThumbnail
			.helper
			img(src="upload/{{ item.username }}/{{item.food}}.jpg")
		.gallerieText
				.gallerieTextNom {{item.food}}
				.gallerieTextPrix {{item.username}}

.col-md-1