.row
  .col-md-12.logoContainer
    img.logo(src='img/logo.png')
.row
  .col-md-12(style="background : grey;color:grey;margin-top : 10px;")
    span.pull-right
      span(style='color:white')
        | Coords utilisateur {{user}}
      button.btn.btn-success(ng-click="searchNear()",type='button') Find nearby
      input(type='number',ng-model="radius")
.row
  .col-md-6.col-md-offset-3.searchContainer
    .form-group
      input#exampleInputEmail1.form-control(type='text', placeholder='Recherchez votre produit',ng-model="search",ng-change="searchAction()")
      | <br>
      a(href="/add",class="btn btn-primary",role="button")
        | +
.row
    .col-md-3.resultContainer
      .col-md-12(ng-show="search.length>0")
        | {{supermarches.length}} résultats trouvés pour "{{ search }}"
      .col-md-12.resultCart(ng-repeat='item in supermarches', style='width:100%;background : white')
        span
          {{ item.name }}
        span.pull-right
          {{item.loc.coordinates[0]}}/{{item.loc.coordinates[1]}}
    .col-md-3.resultContainer
      .col-md-12(ng-show="search.length>0")
        | {{remoteSupermarches.length}} résultats trouvés pour "{{ search }}"
      .col-md-12.resultCart(ng-repeat='item in remoteSupermarches', style='width:100%;background : white')
        span
            {{ item._source.name }}
        span.pull-right
          {{item._source.loc.coordinates[0] }} / {{item._source.loc.coordinates[1] }}
    .col-md-6
      #map
