#landing
	#landingText
		h1 Bienvenue sur 
			span Foodr
		p Foodr est un site qui met en relation des personnes interessées par la nourriture.
		<progress-bar progress="object.progress" progress-id="helloworld"></progress-bar>