.col-md-12.nopadding(style="background-color: rgba(255, 255, 255, 0.85);")
	.col-md-8.nopadding
		.itemTitle 
			{{ item.name }}&nbsp; {{ item.prix }}&euro;
			span(style="background-color : {{ item.type | colorItem }};float:right;margin-right:20px;color:white;opacity:0.6;padding:4px;font-size:11px;") {{ item.type }}
		.col-md-12.itemDescription(style="border-bottom:1px solid #EAEAEA")
			h4(style="text-decoration:underline") Description :
			{{ item.description }}
		.col-md-12.nopadding
			.col-md-6.itemDescription
				h4(style="text-decoration:underline") Ingrédients :
				span(ng-repeat="ingredient in item.ingredients",style="margin-right : 4px;margin-bottom:4px;float:left") 
					{{ ingredient }}
			.col-md-6.itemDescription(style="border-left:1px solid #EAEAEA")
				h4(style="text-decoration:underline") Tags :
				span(class="label label-default",ng-repeat="tag in item.tags",style="margin-right : 4px;margin-bottom:4px;float:left") 
					{{ tag }}
		.col-md-12.nopadding
			.col-md-6.itemDescription(style="border-top:1px solid #EAEAEA")
				h4(style="text-decoration:underline") Produits recommandés :
			.col-md-6.itemDescription(style="border-top:1px solid #EAEAEA;border-left:1px solid #EAEAEA")
				h4(style="text-decoration:underline") Commentaires
	.col-md-4.itemPics.nopadding(style="border-left:1px solid #EAEAEA")
		img(src="upload/{{ item.user }}/{{item.name}}.jpg")
		.col-md-12.itemDescription
			.col-md-8(style="background-color:rgba(0,0,0,0.1);padding-top:10px;margin-top:7px")
				a(href="user/{{ item.user }}") Fait par {{ item.user }}
				p Note <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
			.col-md-4
				a(href="user/{{ item.user }}")
					img(src="upload/{{ item.user }}/profilePic.jpg",class="img-circle",style="width: 70px; height : 60px;margin-top:3px;")
		<br><br>
		.col-md-12
			<br><br>
			.itemButton
				span(ng-click="addCart()")
					<i class="fa fa-plus"></i> &nbsp;Ajouter au panier
				span
					&nbsp;&nbsp;
					input(type="number",min="1",ng-model="quantity",style="width : 50px")
					span &nbsp; x
			.itemButton <i class="fa fa-cart-plus"></i> &nbsp;Achat direct
			.itemButton <i class="fa fa-comment"></i> &nbsp;Donner un avis
			.itemButton(ng-click="addFavorite()") <i class="fa fa-star"></i> &nbsp;Ajouter aux favoris