.paddingTop

.col-md-3.col-md-offset-4.box
  h3.bandeau <i class="fa fa-user"></i> Login
  .textBox
    form(role='form', action="/login",method="post", style='max-width: 300px;')
      .form-group
        label Login
        input.inputLogin.form-control(type='text', name="username")
      .form-group
        label Password
        input.inputLogin.form-control(type='password', name="password")
      <br><br>
      button.btn.btn-default.pull-right(type='submit') Submit