.col-md-12.nopadding.headerProfile
	.col-md-8.profileCover
		.col-md-3.col-md-offset-1
			img(src="upload/{{ user.username }}/profilePic.jpg",class="img-circle imgProfil")

		.col-md-8.profilePres
			h3 Profil de {{ user.username }}
			div
				reverse-geocode(lat="{{userInfo.lat}}",lng="{{userInfo.lng}}")
				button(ng-click="geolocation()") <i class="fa fa-paper-plane"></i> Me géolocaliser

	.col-md-4.nopadding.menuDivContainer
		.col-md-4.menuDiv
			a(href="/profileCatalogue")
				i.fa.fa-book
				p Catalogue
		.col-md-4.menuDiv
			a(href="/profileEdit")
				i.fa.fa-user.fa-3
				p Mon profil
		.col-md-4.menuDiv
			a(href="/favorites")
				i.fa.fa-star.fa-3
				p Favoris
		.col-md-4.menuDiv
			a(href='/message')
				i.fa.fa-weixin.fa-3
				p Messages
		.col-md-4.menuDiv
			a(href='')
				i.fa.fa-cog.fa-3
				p Options
		.col-md-4.menuDiv
			a(href='')
				i.fa.fa-question.fa-3
				p Aide

.col-md-12.nopadding.profileContent

	.col-md-7.col-md-offset-1
		<br><br>
		p {{userInfo.description}}
		<br><br><br>
		.col-md-7
			.col-md-6.embed.nopadding
				.helper
				img(src="upload/{{ user.username }}/pic1.jpg")
			.col-md-6.embed.nopadding
				.helper
				img(src="upload/{{ user.username }}/pic2.jpg")
			.col-md-6.embed.nopadding
				.helper
				img(src="upload/{{ user.username }}/pic3.jpg")
		.col-md-1
		.col-md-4.nopadding
			h4 Avis des utilisateurs
			a(href="/comment/{{ user.username }}") Laisser un avis...

	.col-md-1

	.col-md-3.nopadding.menuProfile
		.menuProfileTitle
			h4 <i class="fa fa-book"></i> Catalogue
		.menuProfileContent
			a(href="/item/{{item._id}}",ng-repeat="item in catalogue")
				div(class="col-md-12 menuProfileButton nopadding", style="border-left : 3px solid {{ item.type | colorItem }}")
					.col-md-9.menuProfileButtonTitle {{ item.name }}
					.col-md-3.menuProfileButtonPrice {{item.prix}} <i class="fa fa-eur"></i>