.littlePaddingTop

div(ng-controller="AddFoodCtrl")
	.col-md-10.col-md-offset-1
		h4 Ajouter un nouvel item
		form(class='form', ng-submit='addFood()')
			label Nom
			input(class='form-control', ng-model='form.nom', placeholder='nom',type="text")
			label Description
			textarea(class='form-control', ng-model='form.description', placeholder='description',ckeditor="editorOptions")
			label Type
			<br>
			input(type="radio",name="type",ng-model="form.type",value="On demand")
			span On Demand
			<br>
			input(type="radio",name="type",ng-model="form.type",value="On the run")
			span On the run
			<br>
			input(type="radio",name="type",ng-model="form.type",value="Groceries")
			span Groceries
			<br>
			label Tags
			p Tags sélectionnés :
			span(class="label label-success",ng-model='form.selectedTags',ng-repeat="selectedTag in form.selectedTags", ng-click="unselectTag(form.selectedTag)") {{ selectedTag }} x
			p
				input(class='form-control', ng-model='form.tags',placeholder='chercher des tags',type="text")
				button(ng-click="selectTag(form.tags)",class='btn btn-default pull-right') +
			span(class="label label-success",ng-repeat="tag in tags | filter : form.tags | limitTo : 5", ng-click="selectTag(tag.name)") {{ tag.name }} ({{tag.popularity}})
			<br>
			label Image
			input(type="file",title="",accept="image/*",fileread="form.file.src")
			input(type="text",ng-model="form.file.src")
			<br>
			input(class='btn btn-default pull-right', type='submit', value='Ajouter')