.paddingTop

.col-md-10.col-md-offset-1.center
	h2 Profil de {{ user.username }}
	<br><br><br><br>
	.col-md-4.menuDiv
		a(href="/profileCatalogue")
			i.fa.fa-book(style="font-size:30px;")
			h5 Catalogue
	.col-md-4.menuDiv
		i.fa.fa-user.fa-3(style="font-size:30px;")
		h5 Mon profil
	.col-md-4.menuDiv
		i.fa.fa-star.fa-3(style="font-size:30px;")
		h5 Favoris
	.col-md-4.menuDiv
		i.fa.fa-weixin.fa-3(style="font-size:30px;")
		h5 Messages
	.col-md-4.menuDiv
		i.fa.fa-cog(style="font-size:30px;")
		h5 Gérer le compte

