.col-md-12.nopadding.headerProfile
	.col-md-8.profileCover
		.col-md-3.col-md-offset-1
			img(src="upload/{{ user.username }}/profilePic.jpg",class="img-circle imgProfil")

		.col-md-8.profilePres
			h3 Profil de {{ user.username }}
			div
				reverse-geocode(lat="{{userInfo.lat}}",lng="{{userInfo.lng}}")
				button(ng-click="geolocation()") <i class="fa fa-paper-plane"></i> Me géolocaliser

	.col-md-4.nopadding.menuDivContainer
		.col-md-4.menuDiv
			a(href="/profileCatalogue")
				i.fa.fa-book(style="font-size:19px;")
				h5 Catalogue
		.col-md-4.menuDiv
			a(href="/profileEdit")
				i.fa.fa-user.fa-3(style="font-size:19px;")
				h5 Mon profil
		if(user)
			.col-md-4.menuDiv(ng-click="friendRequest()")
				i.fa.fa-plus.fa-3(style="font-size:19px;")
				h5 Ajouter


.col-md-7.col-md-offset-1
	<br><br><br><br>
	p {{userInfo.description}}
	<br><br><br><br><br><br>
	.col-md-4.embed.nopadding
		.helper
		img(src="upload/{{ userInfo.username }}/pic1.jpg")
	.col-md-4.embed.nopadding
		.helper
		img(src="upload/{{ userInfo.username }}/pic2.jpg")
	.col-md-4.embed.nopadding
		.helper
		img(src="upload/{{ userInfo.username }}/pic3.jpg")



.col-md-4.nopadding(style="opacity:0.76;overflow-y:scroll;height:400px;")
	<br>
	h4 Catalogue
	div(class="col-md-12 catalogueListItem nopadding",ng-repeat="item in catalogue | filter:search ")
		.catalogueListItemTitle.col-md-10 {{ item.name }}
		.catalogueListItemText.col-md-2 20 <i class="fa fa-eur"></i>