doctype html
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Foodr
    link(href='http://fonts.googleapis.com/css?family=Open+Sans',rel='stylesheet',type='text/css')
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css",rel="stylesheet")

    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/pace.css')
    
    link(rel='stylesheet', href='/css/style.css')
    script(src='/css/pace.min.js')
    script(src='js/lib/angular/angular.js')
    script(src='jquery/dist/jquery.js')
    
    script.
        (function($){
            $(window).load(function(){
                $(".gallerie").mCustomScrollbar();
            });
        })(jQuery);
    script.
        var passport = {};
        if(user !== null )
            passport.user = (!{JSON.stringify(user)});
    
    
    script(src='/bootstrap/dist/js/bootstrap.js')
    script(src='/ng-file-upload/angular-file-upload.js') 
    script(src='/socket.io/socket.io.js')
    script(src='/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js')

    script(src='js/app.js')
    script(src='js/services.js')
    script(src='js/controllers.js')
    script(src='js/controllers/auth.js')
    script(src='js/controllers/food.js')
    script(src='js/filters.js')
    script(src='js/directives.js')

  body
    div#wrapper
        include navbar.jade
        div.col-md-12.nopadding#content
            .leftbar.nopadding
                .bgmenu
                .menu
                    .logo 
                        img(src="img/logo.png")
                        .col-md-12.menubutton 
                            i.fa.fa-home 
                            span &nbsp;
                                a(href="/") Accueil
                        .col-md-12.menubutton 
                            i.fa.fa-book
                            span &nbsp;
                                a(href="/catalogue") Catalogue
                        .col-md-12.menubutton
                            i.fa.fa-users
                            span &nbsp;Communauté
                        .col-md-12.menubutton
                            i.fa.fa-user
                            span &nbsp;Mon compte
            .frame.nopadding
                .bg
                block body

