div(role="navigation",class="navbar navbar-default navbar-fixed-top")
  .container-fluid
    .navbar-header
      button(type="button",class="navbar-toggle collapsed",data-toggle="collapse",data-target=".navbar-collapse")
        span(class="sr-only") Toggle Navigaton
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
      a(class="navbar-brand" href="#") 
        i.fa.fa-home
    .navbar-collapse.collapse
      ul.nav.navbar-nav
        li.dropdown
            a(href="",class="dropdown-toggle",data-toggle="dropdown") 
              <i class="fa fa-shopping-cart"></i>
              span.notification(ng-show="cart.length>0") {{cart.length}}
              span.caret
            ul.dropdown-menu(role="menu")
              li.dropdown-header(style="background-color:#EAEAEA") Mon panier {{cart|cartTotal}}&euro;
              li(ng-repeat="item in cart",style="padding-top : 8px")
                .col-md-9
                  {{item.name}}
                .col-md-2(ng-click="deleteItem(item.id)") <i class="fa fa-close"></i>
                .col-md-9(style="color:rgba(0,0,0,0.3);font-size:10px;margin-bottom:6px;") qté : {{item.qty}} x {{item.prix}}&euro;
              li(style="margin-top:8px;margin-left:12px; float :left;",ng-show="cart.length>0") 
                a(href="/buy") Passer au paiement >>
              li(style="margin-top:8px;margin-left:12px; float :left;font-size:11px",ng-show="cart.length==0") 
                i Votre panier est vide
                
        if (user)
          li.dropdown
            a(href="",class="dropdown-toggle",data-toggle="dropdown") 
              <i class="fa fa-envelope"></i>
              span.notification(ng-show="unreadMessages.length>0") {{unreadMessages.length}}
              span.caret
            ul.dropdown-menu(role="menu")
              li.dropdown-header(style="background-color:#EAEAEA") Messages
              li(ng-repeat="message in unreadMessages",style="border-bottom:1px solid #EAEAEA;padding-top:3px;padding-bottom:5px;")
                a(href="") {{message.from}} ({{message.sent | date:'dd MMM'}})
                <br>
          li.dropdown
            a(href="",class="dropdown-toggle",data-toggle="dropdown") 
              <i class="fa fa-user-plus" style="font-size:13px"></i> 
              span.notification(ng-show="invitations.length>0") {{invitations.length}}
              span.caret
            ul.dropdown-menu(role="menu")
              li.dropdown-header(style="background-color:#EAEAEA") Invitations
              li(ng-repeat="invitation in invitations",style="border-bottom:1px solid #EAEAEA;padding-top:3px;padding-bottom:5px;")
                a(href="") {{invitation.from}} ({{invitation.sent | date:'dd MMM'}})
                <span style="margin-left:15px;" class="label label-success" ng-click="invitationAccept(invitation.from)">Accepter</span>
                <span class="label label-danger" ng-click="invitationRefuse(invitation.from)">Refuser</span>
                <br>

          //-   span.caret
          //- ul(class="dropdown-menu",role="menu")
          //-   li.dropdown-header(style="padding-bottom:2px;background-color:#EAEAEA") 
          //-     i Invitations
          //-   li(ng-repeat="invitation in invitations",style="padding : 3px 20px;font-size:11px;border-top:1px solid #EAEAEA ")
          //-     <i class="fa fa-user"></i> {{invitation.from}}, le {{invitation.sent | date:'dd MMM'}} <br> 
          //-     <button ng-click="invitationAccept({{invitation.from}})"><span class="label label-success">Accepter</span></button>
          //-     <a><span class="label label-danger">x</span></a>
          //-   li.divider
          //-   li.dropdown-header(style="padding-bottm:2px;background-color:#EAEAEA") 
          //-     i Commentaires
          //-   li
          //-     a(href="#") "you suck m8" oligan33
          //-   li
          //-     a(href="#") "je vais te zlataner" zlatan
        li
          a(href="#") <i class="fa fa-globe"></i>
        li.dropdown
          a(href="#",class="dropdown-toggle disabled",data-toggle="dropdown") Plus.. 
            span.caret
          ul(class="dropdown-menu",role="menu")
            li
              a(href="#") Action
            li
              a(href="#") Another action
            li
              a(href="#") Something else here
            li.divider
            li.dropdown-header Nav header
            li
              a(href="#") Separated link
            li
              a(href="#") One more separated link
     
      ul.nav.navbar-nav.navbar-right
        if(!user)
          li
            a(href="/register") register
          li.active
            a(href="/login") login
        if(user)
          li
            a(href="/profile") My account : #{user.username}
          li
            a(href="/logout") Logout
      
       