* { 
	margin: 0; 
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}



html, body
{
	margin: 0px;
    padding: 0px;
    outline: 0px;
	height: 100%;
}

body
{
	background-image : url('../img/background.jpg');
	background-size:cover;
	font-family: 'Open Sans', sans-serif !important;
}

#wrapper 
{
	height:     100%;
	max-height: 100%;
	
}

.navbar
{
	width: 100% !important;
	border-radius: 0px !important;
	margin-bottom: 0px !important

}

#content
{
	padding-top: 50px !important;

}

.leftbar
{
	position: fixed;
	width: 250px;
	z-index: 300;
	height: 100%;
	background: url('../img/bgLeftBar.png') center center;
}

.bgmenu
{
	background-color: rgba(255,255,255,0.1);
}
/*
.frame .bg 
{
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../img/bgbody.png') center center;
    opacity: .6;
    width: 100%;
}*/


.frame
{
	padding-left: 250px !important;	
	position: fixed;
	width : 100%;
	height: 100%;
	background: url('../img/bgbody.png') center center;

}

#footer,#push {
	height: 44px;	
}    

#footer
{
	background-color: red;
}


.logo
{
	margin-bottom: 20px;
	background-image: none !important;
	padding-top: 20px;
	background-color: rgba(255,255,255,0) !important;
}

.logo>img
{
	width:100%;
}

.container
{
	background-color:  rgba(255,255,255,0.4) !important;
	padding-top: 52px;
}

.bandeau
{
	color : white;
	background-color: rgba(0,127,37,0.55);
	text-align: center;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-right: 10px;
	margin-bottom: 30px !important;
}

.title
{
	opacity : 1 !important;
	background-color: rgba(0,127,14,0.8);
	padding: 13px;
	padding-left: 25px;
	color : white;
	max-width: 400px;
	font-size : 18px;
	border-left: 6px solid rgba(0,127,14,0.6) !important;
	margin-bottom: 40px;
}

.box
{
	background-color:  rgba(0,0,0,0.25) !important; 
	padding: 57px !important;
	padding-top: 10px !important;
	height: 400px;
}

.boutonform,.inputform
{
	width: 100% !important;
}

.boutonform
{
	
	background-color: rgba(80,24,69,0.67) !important;
}

.menu
{
	background-color:  rgba(255,255,255,0.4) !important; 
}

.menubutton
{
	background-color: rgba(0,127,14,0.8);
	padding : 20px;
	padding-left:30px;
	margin-bottom: 1px;
	margin-top: 1px;

	color : white;
	opacity: 0.7;
	border-top: 2px solid rgba(0,127,14,0.6);
	border-bottom: 1px solid rgba(0,127,14,0.6);

}

.menubutton>span>a
{
	color : white !important;
}

.menubutton:hover
{
	opacity: 0.8;
	cursor: pointer;
}

.paddingTop
{
	width: 100%;
	height: 80px;
}

